# coding: utf-8

"""
    BCC Core API

    This is the Core API  # noqa: E501

    OpenAPI spec version: 1.0.1
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class PersonsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def check_group_memberships(self, person_uid, groups, **kwargs):  # noqa: E501
        """Check group memberships for a person  # noqa: E501

        Checks which out of provided groups the person is member of  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.check_group_memberships(person_uid, groups, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str person_uid: Person Uid (required)
        :param CheckGroupMembershipsRequest groups: Group (required)
        :return: WrappedCheckGroupMembershipsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.check_group_memberships_with_http_info(person_uid, groups, **kwargs)  # noqa: E501
        else:
            (data) = self.check_group_memberships_with_http_info(person_uid, groups, **kwargs)  # noqa: E501
            return data

    def check_group_memberships_with_http_info(self, person_uid, groups, **kwargs):  # noqa: E501
        """Check group memberships for a person  # noqa: E501

        Checks which out of provided groups the person is member of  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.check_group_memberships_with_http_info(person_uid, groups, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str person_uid: Person Uid (required)
        :param CheckGroupMembershipsRequest groups: Group (required)
        :return: WrappedCheckGroupMembershipsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['person_uid', 'groups']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method check_group_memberships" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'person_uid' is set
        if self.api_client.client_side_validation and ('person_uid' not in params or
                                                       params['person_uid'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `person_uid` when calling `check_group_memberships`")  # noqa: E501
        # verify the required parameter 'groups' is set
        if self.api_client.client_side_validation and ('groups' not in params or
                                                       params['groups'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `groups` when calling `check_group_memberships`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'person_uid' in params:
            path_params['personUid'] = params['person_uid']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'groups' in params:
            body_params = params['groups']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ClientCredentials']  # noqa: E501

        return self.api_client.call_api(
            '/v2/persons/{personUid}/checkGroupMemberships', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='WrappedCheckGroupMembershipsResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def check_group_memberships_person(self, person_uid, groups, **kwargs):  # noqa: E501
        """Check group memberships for a person (legacy endpoint)  # noqa: E501

        Checks which out of provided groups the person is member of  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.check_group_memberships_person(person_uid, groups, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str person_uid: Person Uid (required)
        :param CheckGroupMembershipsRequest groups: Group (required)
        :return: WrappedCheckGroupMembershipsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.check_group_memberships_person_with_http_info(person_uid, groups, **kwargs)  # noqa: E501
        else:
            (data) = self.check_group_memberships_person_with_http_info(person_uid, groups, **kwargs)  # noqa: E501
            return data

    def check_group_memberships_person_with_http_info(self, person_uid, groups, **kwargs):  # noqa: E501
        """Check group memberships for a person (legacy endpoint)  # noqa: E501

        Checks which out of provided groups the person is member of  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.check_group_memberships_person_with_http_info(person_uid, groups, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str person_uid: Person Uid (required)
        :param CheckGroupMembershipsRequest groups: Group (required)
        :return: WrappedCheckGroupMembershipsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['person_uid', 'groups']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method check_group_memberships_person" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'person_uid' is set
        if self.api_client.client_side_validation and ('person_uid' not in params or
                                                       params['person_uid'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `person_uid` when calling `check_group_memberships_person`")  # noqa: E501
        # verify the required parameter 'groups' is set
        if self.api_client.client_side_validation and ('groups' not in params or
                                                       params['groups'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `groups` when calling `check_group_memberships_person`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'person_uid' in params:
            path_params['personUid'] = params['person_uid']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'groups' in params:
            body_params = params['groups']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ClientCredentials']  # noqa: E501

        return self.api_client.call_api(
            '/v2/person/{personUid}/checkGroupMemberships', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='WrappedCheckGroupMembershipsResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_persons(self, person, **kwargs):  # noqa: E501
        """Create person  # noqa: E501

        You need the persons#write scope to access this endpoint.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_persons(person, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param PersonWrite person: Person (required)
        :return: WrappedPerson
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_persons_with_http_info(person, **kwargs)  # noqa: E501
        else:
            (data) = self.create_persons_with_http_info(person, **kwargs)  # noqa: E501
            return data

    def create_persons_with_http_info(self, person, **kwargs):  # noqa: E501
        """Create person  # noqa: E501

        You need the persons#write scope to access this endpoint.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_persons_with_http_info(person, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param PersonWrite person: Person (required)
        :return: WrappedPerson
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['person']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_persons" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'person' is set
        if self.api_client.client_side_validation and ('person' not in params or
                                                       params['person'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `person` when calling `create_persons`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'person' in params:
            body_params = params['person']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ClientCredentials']  # noqa: E501

        return self.api_client.call_api(
            '/v2/persons', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='WrappedPerson',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def find_persons(self, **kwargs):  # noqa: E501
        """Find person  # noqa: E501

        You need the persons#read scope to access this endpoint.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.find_persons(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int limit: Limit
        :param int offset: Offset
        :param int page: Page
        :param str filter: Filters
        :param str fields: Fields
        :param str sort: Sort
        :param str options: Options
        :return: WrappedWithMetaArrayPerson
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.find_persons_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.find_persons_with_http_info(**kwargs)  # noqa: E501
            return data

    def find_persons_with_http_info(self, **kwargs):  # noqa: E501
        """Find person  # noqa: E501

        You need the persons#read scope to access this endpoint.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.find_persons_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int limit: Limit
        :param int offset: Offset
        :param int page: Page
        :param str filter: Filters
        :param str fields: Fields
        :param str sort: Sort
        :param str options: Options
        :return: WrappedWithMetaArrayPerson
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['limit', 'offset', 'page', 'filter', 'fields', 'sort', 'options', 'search']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method find_persons" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'offset' in params:
            query_params.append(('offset', params['offset']))  # noqa: E501
        if 'page' in params:
            query_params.append(('page', params['page']))  # noqa: E501
        if 'filter' in params:
            query_params.append(('filter', params['filter']))  # noqa: E501
        if 'fields' in params:
            query_params.append(('fields', params['fields']))  # noqa: E501
        if 'sort' in params:
            query_params.append(('sort', params['sort']))  # noqa: E501
        if 'options' in params:
            query_params.append(('options', params['options']))  # noqa: E501
        if 'search' in params:
            query_params.append(('search', params['search']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ClientCredentials']  # noqa: E501

        return self.api_client.call_api(
            '/v2/persons', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='WrappedWithMetaArrayPerson',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_person(self, uid, **kwargs):  # noqa: E501
        """Get person  # noqa: E501

        Person retrieval is permitted through the use of scopes.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_person(uid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str uid: Person Uid (required)
        :param str fields: Fields to select
        :param str options: Options
        :return: WrappedPerson
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_person_with_http_info(uid, **kwargs)  # noqa: E501
        else:
            (data) = self.get_person_with_http_info(uid, **kwargs)  # noqa: E501
            return data

    def get_person_with_http_info(self, uid, **kwargs):  # noqa: E501
        """Get person  # noqa: E501

        Person retrieval is permitted through the use of scopes.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_person_with_http_info(uid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str uid: Person Uid (required)
        :param str fields: Fields to select
        :param str options: Options
        :return: WrappedPerson
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['uid', 'fields', 'options']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_person" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'uid' is set
        if self.api_client.client_side_validation and ('uid' not in params or
                                                       params['uid'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `uid` when calling `get_person`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'uid' in params:
            path_params['uid'] = params['uid']  # noqa: E501

        query_params = []
        if 'fields' in params:
            query_params.append(('fields', params['fields']))  # noqa: E501
        if 'options' in params:
            query_params.append(('options', params['options']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ClientCredentials']  # noqa: E501

        return self.api_client.call_api(
            '/v2/persons/{uid}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='WrappedPerson',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_person_id(self, uid, **kwargs):  # noqa: E501
        """Get personID  # noqa: E501

        Lookup person id by uid.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_person_id(uid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str uid: Person Uid (required)
        :return: WrappedInt
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_person_id_with_http_info(uid, **kwargs)  # noqa: E501
        else:
            (data) = self.get_person_id_with_http_info(uid, **kwargs)  # noqa: E501
            return data

    def get_person_id_with_http_info(self, uid, **kwargs):  # noqa: E501
        """Get personID  # noqa: E501

        Lookup person id by uid.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_person_id_with_http_info(uid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str uid: Person Uid (required)
        :return: WrappedInt
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['uid']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_person_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'uid' is set
        if self.api_client.client_side_validation and ('uid' not in params or
                                                       params['uid'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `uid` when calling `get_person_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'uid' in params:
            path_params['uid'] = params['uid']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ClientCredentials']  # noqa: E501

        return self.api_client.call_api(
            '/v2/persons/personID/{uid}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='WrappedInt',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def remove_person(self, uid, **kwargs):  # noqa: E501
        """Remove person  # noqa: E501

        You need the persons#write scope to access this endpoint.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.remove_person(uid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str uid: Person Uid (required)
        :return: WrappedPerson
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.remove_person_with_http_info(uid, **kwargs)  # noqa: E501
        else:
            (data) = self.remove_person_with_http_info(uid, **kwargs)  # noqa: E501
            return data

    def remove_person_with_http_info(self, uid, **kwargs):  # noqa: E501
        """Remove person  # noqa: E501

        You need the persons#write scope to access this endpoint.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.remove_person_with_http_info(uid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str uid: Person Uid (required)
        :return: WrappedPerson
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['uid']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method remove_person" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'uid' is set
        if self.api_client.client_side_validation and ('uid' not in params or
                                                       params['uid'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `uid` when calling `remove_person`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'uid' in params:
            path_params['uid'] = params['uid']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ClientCredentials']  # noqa: E501

        return self.api_client.call_api(
            '/v2/persons/{uid}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='WrappedPerson',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_person(self, uid, person, **kwargs):  # noqa: E501
        """Update person  # noqa: E501

        You need the persons#write scope to access this endpoint.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_person(uid, person, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str uid: Person Uid (required)
        :param PersonWrite person: Person (required)
        :return: WrappedPerson
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update_person_with_http_info(uid, person, **kwargs)  # noqa: E501
        else:
            (data) = self.update_person_with_http_info(uid, person, **kwargs)  # noqa: E501
            return data

    def update_person_with_http_info(self, uid, person, **kwargs):  # noqa: E501
        """Update person  # noqa: E501

        You need the persons#write scope to access this endpoint.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_person_with_http_info(uid, person, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str uid: Person Uid (required)
        :param PersonWrite person: Person (required)
        :return: WrappedPerson
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['uid', 'person']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_person" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'uid' is set
        if self.api_client.client_side_validation and ('uid' not in params or
                                                       params['uid'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `uid` when calling `update_person`")  # noqa: E501
        # verify the required parameter 'person' is set
        if self.api_client.client_side_validation and ('person' not in params or
                                                       params['person'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `person` when calling `update_person`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'uid' in params:
            path_params['uid'] = params['uid']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'person' in params:
            body_params = params['person']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ClientCredentials']  # noqa: E501

        return self.api_client.call_api(
            '/v2/persons/{uid}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='WrappedPerson',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
